.btn-addtocart{
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 64px;
    background-color: transparent;
    color: var(--color-black-100);
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 15px;
    border: 2px solid var(--color-black-100);
    &:hover{
        background-color: rgba(250, 250, 250, 0.308);
    }
}