.button-footer{
    font-size: 0.875rem;
    font-weight: 500;
    padding-bottom: 5px;
    background-color: transparent;
    color: var(--color-black-100);
    border-bottom: 2px solid var(--color-black-100);
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    float: right;
    margin-right: 43%;
    margin-top: 12%;
}