.button-com {
    width: 215px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-golden);
    color: var(--color-white);
    border: none;

    &:hover {
        background-color: var(--color-golden-hover);
    }

}