.button-room{
    color: var(--color-white);
    background-color: var(--color-golden);
    height: 48px;
    width: 176px;
    border: none;
    font-weight: 500;
    position: absolute;
    margin-top: 2%;
    margin-left: 10%;
    &:hover{
        background-color: var(--color-golden-hover);
    }
}