.button-shapka{
    background-color: var(--color-golden);
    color: var(--color-white);
    font-weight: 700;
    font-size: 1rem;
    border: none;
    width: 222px;
    height: 73px;
    margin-left: 8%;
    margin-top: 5%;
    &:hover{
        background-color: var(--color-golden-hover);
    }
}