.cards_one {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
    display: flex;
}
.buttons-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    gap: 30px;
}