.product-dropdown {
    display: flex;
    select {
        width: 242px;
        height: 39px;
        padding-left: 5px;
        font-size: 1rem;
        border-radius: 5px;
        font-weight: 600;
        border: none;
        background-color: var(--color-golden);
        color: var(--color-white);
    }

    select:focus {
        outline: none;
        border-color: var(--color-black-100);
    }
}