.subtotal-sidebarcart{
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-top: 70%;
    margin-right: auto;
    .subtotalsb{
        font-size: 1rem;
    }
    .subtotalprice-sb{
        font-size: 1rem;
        font-weight: 600;
        color: var(--color-golden);
    }
}