.subtitle{
    font-size: 1.625rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin-left: 8%;
    margin-top: 10%;
}

.title{
    font-size: 3.25rem;
    font-weight: 700;
    width: 60%;
    margin-left: 8%;
    color: var(--color-golden);
}

.text{
    margin-left: 8%;
    margin-top: 3%;
    width: 75%;
    font-size: 1.125rem;
}