:root{

  /**  Отступы  */
  --gap-xl: 20px;
  --gap-l: 15px;

  --padding-block: 20px;
  --padding-inline: 20px;

  /**  Скругления углов  */
  --border-radius-default: 20px;

  /**  Основные цвета */
  --main-color: #e3e3e3;

  --color-black-100: #000;
  --color-black-80: #333;
  --color-black-60: #666;
  --color-black-3A: #3A3A3A;
  --color-black-616: #616161;
  --color-black-24: #242424;
  --color-black-D8: #D8D8D8;
  --color-black-9F: #9F9F9F;
  --color-black-89: #898989;
  --color-black-B0: #B0B0B0;
  --color-white: #fff;

  --color-beige-bg: #FFF3E3;
  --color-golden: #B88E2F;
  --color-golden-hover: #967425;
  --color-bg-card-product: #F4F5F7;
  --color_bg-abroom: #FCF8F3;
  --color-filter-bg: #F9F1E7;
  --color-quality: #FAF3EA;

  --color-circle-red: #E97171;
  --color-circle-green: #2EC1AC;

  /**  Шрифты */
  --font-family-title: "Open Sans";
}