<div class="card-product-all">
    @@include('../components/_types-product.html',{
    "imgtype": "../assets/images/type1"
    })
    @@include('../components/_types-product.html',{
    "imgtype": "../assets/images/type2"
    })
    @@include('../components/_types-product.html',{
    "imgtype": "../assets/images/type3"
    })
    @@include('../components/_types-product.html',{
    "imgtype": "../assets/images/type4"
    })
    @@include('../components/_main-prod.html',{
        "imgmain": "../assets/images/mainprod"
    })
    @@include('../components/_desc-prod.html')
    @@include('../components/_footer-desc.html')
</div>