<div class="comparison-product">
    <picture>
        <img src="@@imgpic.webp" alt="" class="img-comparison">
    </picture>
    <div class="title-com">@@titlecom</div>
    <div class="price-com">@@pricecom</div>
    <div class="score-com">@@score</div>
    <div class="stars-com">
        @@include('../components/_star-prod.html')
        @@include('../components/_star-prod.html')
        @@include('../components/_star-prod.html')
        @@include('../components/_star-prod.html')
        <div class="halfstar-com">
            @@include('../components/_halfstar.html')
        </div>
    </div>
    <div class="hr-com"></div>
    <div class="reviews-com">@@reviews</div>
</div>