<div class="contact-form">
    <form>
        <div class="form-field">
            <label for="name">Your name</label>
            <input type="text" id="name" name="name" placeholder="Abc" required>
        </div>

        <div class="form-field">
            <label for="email">Email address</label>
            <input type="email" id="email" name="email" placeholder="Abc@def.com" required>
        </div>

        <div class="form-field">
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" placeholder="This is an optional">
        </div>

        <div class="form-field">
            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="Hi! I'd like to ask about" required></textarea>
        </div>
        @@include('../components/_button-contact.html')
    </form>
</div>