<div class="desc-prod">
    @@include('../components/_title-prod.html',{
    "titleofprod": "Asgaard sofa"
    })
    @@include('../components/_price-prod.html',{
    "priceprod": "Rs. 250,000.00"
    })
    <div class="stars">
        @@include('../components/_star-prod.html')
        @@include('../components/_star-prod.html')
        @@include('../components/_star-prod.html')
        @@include('../components/_star-prod.html')
        @@include('../components/_halfstar.html')
    </div>
    <div class="razdelitel"></div>
    @@include('../components/_review-prod.html',{
    "review": "5 Customer Review"
    })
    @@include('../components/_description.html')
    @@include('../components/_size-block.html')
    @@include('../components/_colors-prod.html')
    <div class="btns-desc">
        @@include('../components/_counter.html')
        @@include('../components/_btn-addtocart.html',{
        "btnatc": "Add To Cart",
        "hrefbtn": "index6.html"
        })
        @@include('../components/_btn-addtocart.html',{
        "btnatc": "+ Compare",
        "hrefbtn": "index5.html"
        })
    </div>

</div>