<div class="container-forma">
    <form class="billing-form">
        <div class="title-forma">Billing details</div>
        <div class="field name-fields">
            <div class="name">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name">
            </div>
            <div class="name">
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name">
            </div>
        </div>

        <div class="field">
            <label for="company-name">Company Name (Optional)</label>
            <input type="text" id="company-name">
        </div>

        <div class="field">
            <label for="country">Country / Region</label>
            <select id="country">
                <option>Sri Lanka</option>
            </select>
        </div>

        <div class="field">
            <label for="street-address">Street address</label>
            <input type="text" id="street-address">
        </div>

        <div class="field">
            <label for="town">Town / City</label>
            <input type="text" id="town">
        </div>

        <div class="field">
            <label for="province">Province</label>
            <select id="province">
                <option>Western Province</option>
            </select>
        </div>

        <div class="field">
            <label for="zip-code">ZIP Code</label>
            <input type="text" id="zip-code">
        </div>

        <div class="field">
            <label for="phone">Phone</label>
            <input type="text" id="phone">
        </div>

        <div class="field">
            <label for="email">Email address</label>
            <input type="email" id="email">
        </div>

        <div class="field">
            <textarea id="additional-info" placeholder="Additional Information"></textarea>
        </div>
    </form>
</div>