<div class="furniture">
    <div class="text_furniture">Share your setup with</div>
    <div class="title_furniture">#FuniroFurniture</div>
    <div class="images_furniture">
        <img src="../assets/img/fun1.svg" alt="" class="fun1">
        <img src="../assets/img/fun2.svg" alt="" class="fun2">
        <img src="../assets/img/fun3.svg" alt="" class="fun3">
        <img src="../assets/img/fun4.svg" alt="" class="fun4">
        <img src="../assets/img/fun5.svg" alt="" class="fun5">
        <img src="../assets/img/fun6.svg" alt="" class="fun6">
        <img src="../assets/img/fun7.svg" alt="" class="fun7">
        <img src="../assets/img/fun8.svg" alt="" class="fun8">
        <img src="../assets/img/fun9.svg" alt="" class="fun9">
    </div>
</div>