<div class="order">
    <div class="order-summary">
        <div class="titls">
            <div class="title-order">Product</div>
            <div class="title-order">Subtotal</div>
        </div>
        <div class="prod-order">
            <div class="product-order">@@prodorder</div>
            <div class="quantity-order">@@quantityorder</div>
            <div class="price-order">@@priceorder</div>
        </div>
        <div class="subtotal-order">
            <div class="subtotalorder-title">Subtotal</div>
            <div class="price-order">@@subtotal</div>
        </div>
        <div class="total-order">
            <div class="subtotalorder-title">Total</div>
            <div class="pricetotal-order">@@priceorder</div>
        </div>
        <div class="hr-order"></div>
        <div class="payment-methods">
            <label><input type="radio" name="payment" checked> Direct Bank Transfer</label>
            <p class="small-text">Make your payment directly into our bank account. Please use your Order ID as the
                payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
            <label><input type="radio" name="payment"> Cash On Delivery</label>
        </div>
        <div class="privacy">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href=''><b>privacy policy.</b></a></div>
        @@include('../components/_button-order.html')
    </div>
</div>