<div class="product-card">
    <div class="rectangle_card">
        <picture>
            <img src="@@imgprod.webp" alt="@@alt" class="image_product">
        </picture>
        <div class="circle-badge" style="background-color:@@circlecolor;">@@circletext</div>
        <div class="product_body">
            <p class="title_card">@@title</p>
            <p class="text_card">@@textpr</p>
            <p class="price_card">@@price</p>
            <s class="oldprice_card">@@oldprice</s>
        </div>
        @@include('../components/_hover-cards.html')
    </div>
</div>