<div class="quality">
    @@include('../components/_quality-compon.html',{
    "imgcom": "./assets/images/tropy1",
    "altcom": "иконка 1",
    "titlecom": "High Quality",
    "textcom": "crafted from top materials"
    })
    @@include('../components/_quality-compon.html',{
    "imgcom": "./assets/images/guarantee",
    "altcom": "иконка 2",
    "titlecom": "Warranty Protection",
    "textcom": "Over 2 years"
    })
        @@include('../components/_quality-compon.html',{
    "imgcom": "./assets/images/shipping",
    "altcom": "иконка 3",
    "titlecom": "Free Shipping",
    "textcom": "Order over 150 $"
    })
        @@include('../components/_quality-compon.html',{
    "imgcom": "./assets/images/support",
    "altcom": "иконка 4",
    "titlecom": "24 / 7 Support",
    "textcom": "Dedicated support"
    })
</div>