<div class="big-desc">
    <div class="hr-desc"></div>
    <nav class="nav-title-desc">
        <ul>
            <li>Description</li>
            <li>Additional Information</li>
            <li>Reviews [5]</li>
        </ul>
    </nav>
    <div class="desc-all">
        <div class="desc-one">Embodying the raw, wayward spirit of rock ‘n’ roll,
            the Kilburn portable active stereo speaker takes the unmistakable look
            and sound of Marshall, unplugs the chords, and takes the show on the
            road.</div>
        <div class="desc-two">Weighing in under 7 pounds, the Kilburn is a
            lightweight piece of vintage styled engineering. Setting the bar as
            one of the loudest speakers in its class, the Kilburn is a compact,
            stout-hearted hero with a well-balanced audio which boasts a clear
            midrange and extended highs for a sound that is both articulate and
            pronounced. The analogue knobs allow you to fine tune the controls
            to your personal preferences while the guitar-influenced leather strap
            enables easy and stylish travel.</div>
    </div>
    <div class="block-pic">
        @@include('../components/_pic-block.html',{
        "imgpic": "../assets/images/descpic1"
        })
        @@include('../components/_pic-block.html',{
        "imgpic": "../assets/images/descpic2"
        })
    </div>
    <div class="hr-bottom"></div>
</div>