<div class="cards-pr-page2">
    <div class="cards_one">
        @@include('../components/_product-card.html', {
        "imgprod": "./assets/images/prod1",
        "alt": "Изображение 1",
        "title": "Syltherine",
        "textpr": "Stylish cafe chair",
        "price": "Rp 2.500.000",
        "oldprice": "Rp 3.500.000",
        "circletext": "-30%",
        "circlecolor": "#E97171"
        })

        @@include('../components/_product-card.html', {
        "imgprod": "./assets/images/prod2",
        "alt": "Изображение 2",
        "title": "Leviosa",
        "textpr": "Stylish cafe chair",
        "price": "Rp 2.500.000",
        "oldprice": "",
        "circletext": "",
        "circlecolor": ""
        })
        @@include('../components/_product-card.html', {
        "imgprod": "./assets/images/prod3",
        "alt": "Изображение 3",
        "title": "Lolito",
        "textpr": "Luxury big sofa",
        "price": "Rp 7.000.000",
        "oldprice": "Rp 14.000.000",
        "circletext": "-50%",
        "circlecolor": "#E97171"
        })
        @@include('../components/_product-card.html', {
        "imgprod": "./assets/images/prod4",
        "alt": "Изображение 4",
        "title": "Respira",
        "textpr": "Outdoor bar table and stool",
        "price": "Rp 500.000",
        "oldprice": "",
        "circletext": "New",
        "circlecolor": "#2EC1AC"
        })
    </div>
    <div class="cards_one">
        @@include('../components/_product-card.html', {
        "imgprod": "./assets/images/prod1",
        "alt": "Изображение 1",
        "title": "Syltherine",
        "textpr": "Stylish cafe chair",
        "price": "Rp 2.500.000",
        "oldprice": "Rp 3.500.000",
        "circletext": "-30%",
        "circlecolor": "#E97171"
        })

        @@include('../components/_product-card.html', {
        "imgprod": "./assets/images/prod2",
        "alt": "Изображение 2",
        "title": "Leviosa",
        "textpr": "Stylish cafe chair",
        "price": "Rp 2.500.000",
        "oldprice": "",
        "circletext": "",
        "circlecolor": ""
        })
        @@include('../components/_product-card.html', {
        "imgprod": "./assets/images/prod3",
        "alt": "Изображение 3",
        "title": "Lolito",
        "textpr": "Luxury big sofa",
        "price": "Rp 7.000.000",
        "oldprice": "Rp 14.000.000",
        "circletext": "-50%",
        "circlecolor": "#E97171"
        })
        @@include('../components/_product-card.html', {
        "imgprod": "./assets/images/prod4",
        "alt": "Изображение 4",
        "title": "Respira",
        "textpr": "Outdoor bar table and stool",
        "price": "Rp 500.000",
        "oldprice": "",
        "circletext": "New",
        "circlecolor": "#2EC1AC"
        })
    </div>
    <div class="cards_one">
        @@include('../components/_product-card.html', {
        "imgprod": "./assets/images/prod1",
        "alt": "Изображение 1",
        "title": "Syltherine",
        "textpr": "Stylish cafe chair",
        "price": "Rp 2.500.000",
        "oldprice": "Rp 3.500.000",
        "circletext": "-30%",
        "circlecolor": "#E97171"
        })

        @@include('../components/_product-card.html', {
        "imgprod": "./assets/images/prod2",
        "alt": "Изображение 2",
        "title": "Leviosa",
        "textpr": "Stylish cafe chair",
        "price": "Rp 2.500.000",
        "oldprice": "",
        "circletext": "",
        "circlecolor": ""
        })
        @@include('../components/_product-card.html', {
        "imgprod": "./assets/images/prod3",
        "alt": "Изображение 3",
        "title": "Lolito",
        "textpr": "Luxury big sofa",
        "price": "Rp 7.000.000",
        "oldprice": "Rp 14.000.000",
        "circletext": "-50%",
        "circlecolor": "#E97171"
        })
        @@include('../components/_product-card.html', {
        "imgprod": "./assets/images/prod4",
        "alt": "Изображение 4",
        "title": "Respira",
        "textpr": "Outdoor bar table and stool",
        "price": "Rp 500.000",
        "oldprice": "",
        "circletext": "New",
        "circlecolor": "#2EC1AC"
        })
    </div>
    <div class="cards_one">
        @@include('../components/_product-card.html', {
        "imgprod": "./assets/images/prod1",
        "alt": "Изображение 1",
        "title": "Syltherine",
        "textpr": "Stylish cafe chair",
        "price": "Rp 2.500.000",
        "oldprice": "Rp 3.500.000",
        "circletext": "-30%",
        "circlecolor": "#E97171"
        })

        @@include('../components/_product-card.html', {
        "imgprod": "./assets/images/prod2",
        "alt": "Изображение 2",
        "title": "Leviosa",
        "textpr": "Stylish cafe chair",
        "price": "Rp 2.500.000",
        "oldprice": "",
        "circletext": "",
        "circlecolor": ""
        })
        @@include('../components/_product-card.html', {
        "imgprod": "./assets/images/prod3",
        "alt": "Изображение 3",
        "title": "Lolito",
        "textpr": "Luxury big sofa",
        "price": "Rp 7.000.000",
        "oldprice": "Rp 14.000.000",
        "circletext": "-50%",
        "circlecolor": "#E97171"
        })
        @@include('../components/_product-card.html', {
        "imgprod": "./assets/images/prod4",
        "alt": "Изображение 4",
        "title": "Respira",
        "textpr": "Outdoor bar table and stool",
        "price": "Rp 500.000",
        "oldprice": "",
        "circletext": "New",
        "circlecolor": "#2EC1AC"
        })
    </div>
    <div class="buttons-page">
        @@include('../components/_button-page.html',{
        "btnpage": "1"
        })
        @@include('../components/_button-page.html',{
        "btnpage": "2"
        })
        @@include('../components/_button-page.html',{
        "btnpage": "3"
        })
        @@include('../components/_button-page.html',{
        "btnpage": "Next"
        })
    </div>

</div>