<div class="products">
        <div class="title_product">Our Product</div>
        <div class="card_style_product">
                <div class="cards_one">
                        @@include('../components/_product-card.html', {
                        "imgprod": "./assets/images/prod1",
                        "alt": "Изображение 1",
                        "title": "Syltherine",
                        "textpr": "Stylish cafe chair",
                        "price": "Rp 2.500.000",
                        "oldprice": "Rp 3.500.000",
                        "circletext": "-30%",
                        "circlecolor": "#E97171"
                        })

                        @@include('../components/_product-card.html', {
                        "imgprod": "./assets/images/prod2",
                        "alt": "Изображение 2",
                        "title": "Leviosa",
                        "textpr": "Stylish cafe chair",
                        "price": "Rp 2.500.000",
                        "oldprice": "",
                        "circletext": "",
                        "circlecolor": ""
                        })
                        @@include('../components/_product-card.html', {
                        "imgprod": "./assets/images/prod3",
                        "alt": "Изображение 3",
                        "title": "Lolito",
                        "textpr": "Luxury big sofa",
                        "price": "Rp 7.000.000",
                        "oldprice": "Rp 14.000.000",
                        "circletext": "-50%",
                        "circlecolor": "#E97171"
                        })
                        @@include('../components/_product-card.html', {
                        "imgprod": "./assets/images/prod4",
                        "alt": "Изображение 4",
                        "title": "Respira",
                        "textpr": "Outdoor bar table and stool",
                        "price": "Rp 500.000",
                        "oldprice": "",
                        "circletext": "New",
                        "circlecolor": "#2EC1AC"
                        })
                </div>
                <div class="cards_two">
                        @@include('../components/_product-card.html', {
                        "imgprod": "./assets/images/prod5",
                        "alt": "Изображение 5",
                        "title": "Grifo",
                        "textpr": "Night lamp",
                        "price": "Rp 1.500.000",
                        "oldprice": "",
                        "circletext": "",
                        "circlecolor": ""
                        })
                        @@include('../components/_product-card.html', {
                        "imgprod": "./assets/images/prod6",
                        "alt": "Изображение 6",
                        "title": "Muggo",
                        "textpr": "Small mug",
                        "price": "Rp 150.000",
                        "oldprice": "",
                        "circletext": "New",
                        "circlecolor": "#2EC1AC"
                        })
                        @@include('../components/_product-card.html', {
                        "imgprod": "./assets/images/prod7",
                        "alt": "Изображение 7",
                        "title": "Pingky",
                        "textpr": "Cute bed set",
                        "price": "Rp 7.000.000",
                        "oldprice": "Rp 14.000.000",
                        "circletext": "-50%",
                        "circlecolor": "#E97171"
                        })
                        @@include('../components/_product-card.html', {
                        "imgprod": "./assets/images/prod8",
                        "alt": "Изображение 8",
                        "title": "Potty",
                        "textpr": "Minimalist flower pot",
                        "price": "Rp 500.000",
                        "oldprice": "",
                        "circletext": "New",
                        "circlecolor": "#2EC1AC"
                        })
                </div>
        </div>
        @@include('../components/_button-prod.html')
</div>