<div class="range">
    @@include('../components/_title.html')
    <div class="card_style">
            @@include('../components/_card.html', {
                "img": "./assets/images/card1",
                "alt": "Изображение 1",
                "text": "Dining"
            })
            @@include('../components/_card.html', {
                "img": "./assets/images/card2",
                "alt": "Изображение 2",
                "text": "Living"
            })
            @@include('../components/_card.html', {
                "img": "./assets/images/card3",
                "alt": "Изображение 3",
                "text": "Bedroom"
            })
            
    </div>

</div>