<div class="rooms_shapka">
    <div class="text_block">
        <div class="title_rooms">50+ Beautiful rooms inspiration</div>
        <div class="text_rooms">Our designer already made a lot of 
            beautiful prototipe of rooms that inspire you</div>
    </div>
    @@include('../components/_button-room.html')
    <img src="../assets/img/photo_room.svg" alt="" class="image1_room">
    @@include('../components/_name-room.html',{
        "descroom": "01 — Bed Room",
        "titleroom": "Inner Peace",
    })
    <img src='../assets/img/photo_room2.svg' alt="" class="image2_room">
    <img src="../assets/img/photo_room3.svg" alt="" class="image3_room">
    @@include('../components/_circle.html')
    
    
</div>