.blog-card{
    width: 820px;
    display: flex;
    flex-direction: column;
    .underimg{
        display: flex;
        flex-direction: row;
        color: var(--color-black-9F);
        gap: 35px;
        margin-top: 2%;
        .who-block, .when-block, .category-block{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }
    .title-blogcard{
        font-size: 1.875rem;
        font-weight: 500;
        margin-top: 2%;
    }
    .text-blogcard{
        font-size: 0.9375rem;
        color: var(--color-black-9F);
        text-align: justify;
        margin-top: 2%;
    }
    .readmore{
        display: inline-block;
        width: 10%;
        padding-bottom: 5px;
        margin-top: 4%;
        font-size: 1rem;
        border-bottom: 2px solid var(--color-black-100);
        &:hover{
            color: var(--color-black-9F);
        }
    }
}