.comparison-product {
    .img-comparison {
        width: 280px;
        height: 177px;
        margin-left: 27%;
        margin-top: -11%;
    }

    .title-com {
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: 27%;
        margin-top: 5%;
    }

    .price-com {
        font-size: 1.125rem;
        font-weight: 500;
        margin-left: 27%;
        margin-top:2%;
    }

    .stars-com {
        display: flex;
        flex-wrap: wrap;
        margin-left: 38%;
        margin-top: -10%;
        gap: 6px;
        .halfstar-com{
            margin-top: 4%;
        }

    }

    .score-com {
        font-size: 1.125rem;
        font-weight: 600;
        margin-left: 27%;
        margin-top: 3%;
    }
    .hr-com{
        border-left:2px solid var(--color-black-9F) ;
        height: 40px;
        margin-left: 87%;
        margin-top: -11%;
    }
    .reviews-com{
        position: absolute;
        margin-left: 17%;
        margin-top: -2.2%;
        color: var(--color-black-9F);
    }
}