.contact-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: auto;
  margin-top: 5%;
  width: 953px;
  .contact-content{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    gap: 80px;
  }

}


