.filter{
    width: 1440px;
    height: 100px;
    background-color: var(--color-filter-bg);
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 5px;
    .set{
        margin-left: 10%;
    }
    .filter-title{
        font-size: 1.25rem;
    }
    .cir4{
        margin-left: 2%;
    }
    .fil{
        margin-left: 1%;
    }
    .hrvert{
        border-left: 3px solid var(--color-black-9F);
        height: 40px;
        margin-left: 1.5%;
    }
    .text-fil{
        font-size: 1rem;
        font-weight: 500;
        margin-left: 2%;
    }
    .input1{
        margin-left: 18%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .show{
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        margin-left: 19%;
        margin-right: 15%;
    }
    .squaref{
        border: none;
        width: 55px;
        height: 55px;
        background-color: var(--color-white);
        color: var(--color-black-9F);
        font-size: 1.25rem;
        padding: 17px;
        &::placeholder{
            text-align: center;
        }
    }
    .input2{
        margin-left: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .shortby{
        width: 85px;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        margin-left:5%;
        margin-right: 10%;
    }
    .recf{
        display: flex;
        align-items: center;
        width: 188px;
        height: 55px;
        background-color: var(--color-white);
        color: var(--color-black-9F);
        font-size: 1.25rem;
        padding-left: 5%;
        border: none;
    }
}