.forma {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1242px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    .title-forma{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 3%;
    }
    .summary{
        width: 608px;
    }
    .order{
        width: 608px;
    }
}


