.furniture{
    margin-top: 3%;
    width: 1440px;
    height: 780px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    .text_furniture{
        font-size: 1.25rem;
        color: var(--color-black-616);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
    }
    .title_furniture{
        font-size: 2.5rem;
        color: var(--color-black-3A);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
    }
    .fun1{
        position: relative;
        width: 274px;
        height: 382px;
        margin-left: -13%;
        margin-top: -2%;
    }
    .fun2{
        position: relative;
        width: 451px;
        height: 312px;
        margin-left: 1.5%;
        margin-top: 2.85%;
    }
    .fun3{
        position: relative;
        width: 295px;
        height: 392px;
        margin-left: 1.5%;
        margin-top: 9%;
    }
    .fun4{
        position: relative;
        width: 290px;
        height: 348px;
        margin-left: 1.5%;
        margin-top: 5%;
    }
    .fun5{
        position: relative;
        width: 425px;
        height: 433px;
        float: right;
        margin-right: -14.5%;
        margin-top: -1%;
    }
    .fun6{
        position: relative;
        width: 381px;
        height: 323px;
        margin-left: -13%;
        margin-top: -10%;
    }
    .fun7{
        position: relative;
        width: 344px;
        height: 242px;
        margin-left: 1.55%;
        margin-top: -10%;
    }
    .fun8{
        position: relative;
        width: 178px;
        height: 242px;
        margin-left: 23.8%;
        margin-top: -5.5%;
    }
    .fun9{
        position: relative;
        width: 258px;
        height: 196px;
        float: right;
        margin-right: 5%;
        margin-top: -5.5%;
    }
}