.product-card {
    width: 1240px;

    .rectangle_card {
        width: 285px;
        height: 446px;
        background-color: var(--color-bg-card-product);
        position: relative;
    }

    .image-product {
        object-fit: cover;
    }

    .title_card {
        font-size: 1.5rem;
        color: var(--color-black-3A);
        font-weight: 700;
    }

    .text_card {
        font-size: 1rem;
        color: var(--color-black-89);
        margin-top: 3%;
    }

    .price_card {
        font-size: 1.25rem;
        font-weight: 600;
        margin-top: 4%;
        color: var(--color-black-3A);
    }

    .oldprice_card {
        position: absolute;
        font-size: 1rem;
        color: var(--color-black-B0);
        margin-left: 46%;
        margin-top: -8%;
    }

    .product_body {
        margin-left: 4%;
        margin-top: 4%;
    }

    .old-price:empty {
        display: none;
    }

    .circle-badge {
        position: absolute;
        top: 5%;
        left: 75%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: white;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}