.quality-com {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 337px;
    height: 70px;
    margin-left: 2%;
    .image-com {
        width: 60px;
        height: 60px;
    }

    .block-text-com {
        margin-left: 4%;
        .title-com {
            font-size: 1.56rem;
            color: var(--color-black-24);
            font-weight: 700;
            margin-bottom: 5%;
        }
        .text-com{
            font-size: 1.25rem;
            color: var(--color-black-89);
            font-weight: 500;
        }
    }

}