.quality{
    width: 1440px;
    height: 270px;
    background-color: var(--color-quality);
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}