.hero {
    position: relative;
    background-image: url('../../assets/img/shapka.svg');
    background-size: cover;
    background-position: center;
    height: 316px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-black-100);

    .title-shapka {
        margin-top: 7%;
        font-size: 3rem;
        font-weight: 700;
    }

    .pages {
        font-size: 1rem;

        a {
            color: var(--color-black-100);
        }
        .home{
            font-weight: 600;
        }
    }

    .strelochka {
        margin: 0 10px;
    }


}