.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-main{
    font-size: 2rem;
    color: var(--color-black-80);
    font-weight: 700;
}

.text-main{
    color: var(--color-black-60);
    font-size: 1.25rem;
}
